{% extends 'homepage/base.html' %}

{% load static %}

    {% block cssblock %}

     <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" type="text/css">

    {% endblock %}

    {% block content %}

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-items set-bg" data-setbg="{% static 'homepage/img/sach-hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Sách</span>
                            <h1>Big Sale</h1>
                            <p>Sách đang được sale 50% để mọi người có thể có thêm kiến thức vào thời covid </p>
                            {% if user.id is not null %}
                        <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Mua ngay</a>
                        {% else %}
                        <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Mua ngay </a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>50%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="{% static 'homepage/img/elec-hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Thiết bị điện tử </span>
                            <h1>Big Sale </h1>
                            <p>Thiết bị điện tử đang có đợt sale lớn để chuẩn bị năm học mới </p>
                            {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm  </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>10%</span></h2>
                    </div>
                </div>
            </div>
            <div class="single-hero-items set-bg" data-setbg="{% static 'homepage/img/fashion-hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <span>Quần áo  </span>
                            <h1>Big Sale </h1>
                            <p>Quần áo đang sale lớn đón hè tới  </p>
                            {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm  </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="off-card">
                        <h2>Sale <span>30%</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <div class="banner-section spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'homepage/img/book-banner.jpeg' %}" alt="">
                        <div class="inner-text">
                            <h4>Sách</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'homepage/img/macbook-banner.jpg' %}" alt="">
                        <div class="inner-text">
                            <h4>Đồ điện tử</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <img src="{% static 'homepage/img/clothes-banner.jpg' %}" alt="">
                        <div class="inner-text">
                            <h4>Quần áo </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="{% static 'homepage/img/products/book-large.jpg' %}">
                        <h2>Sách</h2>
                         {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm  </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>

                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">

                        {% for item in list_var %}

                        <div class="product-item">
                            <div class="pi-pic">
                                <img src=" {% static '/img/upload/' %}{{ item.product.product_image }}" alt="">
                                <div class="icon">
                                    <a href=""><i class="icon_heart_alt"></i></a>
                                </div>
                                <ul>
                                    {% if cart %}
                                    <li class="w-icon active"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}">Thêm vào giỏ</a></li>
                                    {% else %}
                                    <li class="w-icon active"><a href="{% url 'core:login' %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'core:login' %}">Thêm vào giỏ</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ item.product.category.title}}</div>
                                {% if user.id is not null %}
                                <a href="{% url 'product:showproduct' user.id item.id %}">
                                {% else %}
                                <a href="{% url 'product:showproductno' item.id %}">
                                    {% endif %}
                                    <h5>{{item.title}}</h5>
                                </a>
                                <div class="product-price">
                                    {{item.sale_price}}
                                    <span>{{item.price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    <!-- Deal Of The Week Section Begin-->
    <section class="deal-of-week set-bg spad" data-setbg="{% static '/img/upload/' %}{{ sale.product_image }}">
        <div class="container">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h2>Giảm giá đặc biệt </h2>
                    <p>Hàng tháng hoặc hàng tuần , chũng tôi sẽ có một sản phẩm được giảm giá đặc biệt </p>
                    <div class="product-price">
                        {{ sale.price}}VND
                        <span>/{{sale.title}}</span>
                    </div>
                </div>
                <div class="countdown-timer" id="countdown">
                    <div class="cd-item">
                        <span>56</span>
                        <p>Days</p>
                    </div>
                    <div class="cd-item">
                        <span>12</span>
                        <p>Hrs</p>
                    </div>
                    <div class="cd-item">
                        <span>40</span>
                        <p>Mins</p>
                    </div>
                    <div class="cd-item">
                        <span>52</span>
                        <p>Secs</p>
                    </div>
                </div>
                 {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm  </a>
                            {% endif %}
            </div>
        </div>
    </section>
    <!-- Deal Of The Week Section End -->

    <!-- Man Banner Section Begin -->
    <section class="man-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="filter-control">

                    </div>
                    <div class="product-slider owl-carousel">
                        {% for item in list_var2 %}

                        <div class="product-item">
                            <div class="pi-pic">
                                <img src=" {% static '/img/upload/' %}{{ item.product.product_image }}" alt="">
                                <div class="icon">
                                    <a href=""><i class="icon_heart_alt"></i></a>
                                </div>
                                <ul>
                                    {% if cart %}
                                    <li class="w-icon active"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}">Thêm vào giỏ</a></li>
                                    {% else %}
                                    <li class="w-icon active"><a href="{% url 'core:login' %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'core:login' %}">Thêm vào giỏ</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ item.product.category.title}}</div>
                               {% if user.id is not null %}
                                <a href="{% url 'product:showproduct' user.id item.id %}">
                                {% else %}
                                <a href="{% url 'product:showproductno' item.id %}">
                                    {% endif %}
                                    <h5>{{item.title}}</h5>
                                </a>
                                <div class="product-price">
                                    {{item.sale_price}}
                                    <span>{{item.price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1">
                    <div class="product-large set-bg m-large" data-setbg="{% static 'homepage/img/products/mac-large.jpg' %}">
                        <h2 style="color:black">Thiết bị điện tử </h2>
                        {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm  </a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Man Banner Section End -->

    <!-- Women Banner Section Begin -->
    <section class="women-banner spad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="product-large set-bg" data-setbg="{% static 'homepage/img/products/cloth-large.jpeg' %}">
                        <h2 style=" color:black">Quần áo </h2>
                        {% if user.id is not null %}
                         <a href="{% url 'product:shop' user.id 0 %}" class="primary-btn">Xem thêm </a>
                            {% else %}
                            <a href="{% url 'product:shopno' 0 %}" class="primary-btn">Xem thêm </a>
                            {% endif %}
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-1">
                    <div class="filter-control">
                        <ul>

                        </ul>
                    </div>
                    <div class="product-slider owl-carousel">

                        {% for item in list_var3 %}

                        <div class="product-item">
                            <div class="pi-pic">
                                <img src=" {% static '/img/upload/' %}{{ item.product.product_image }}" alt="">
                                <div class="icon">
                                    <a href=""><i class="icon_heart_alt"></i></a>
                                </div>
                                <ul>
                                    {% if cart %}
                                    <li class="w-icon active"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'cart:addtocart' item.product.id cart.id user.id %}">Thêm vào giỏ</a></li>
                                    {% else %}
                                    <li class="w-icon active"><a href="{% url 'core:login' %}"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="{% url 'core:login' %}">Thêm vào giỏ</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">{{ item.product.category.title}}</div>
                                {% if user.id is not null %}
                                <a href="{% url 'product:showproduct' user.id item.id %}">
                                {% else %}
                                <a href="{% url 'product:showproductno' item.id %}">
                                    {% endif %}
                                    <h5>{{item.title}}</h5>
                                </a>
                                <div class="product-price">
                                    {{item.sale_price}}
                                    <span>{{item.price}}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Women Banner Section End -->

    {%  endblock %}

    {%block jsblock %}

    <script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.dd.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>

    {% endblock %}

